@font-face {
  font-family: "Plus-Jakarta-Sans-Regular";
  src: url(../asset/Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: "Plus-Jakarta-Sans-Semibold";
  src: url(../asset/Font/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  font-family: "Plus-Jakarta-Sans-Bold";
  src: url(../asset/Font/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf);
}

@font-face {
  font-family: "Plus-Jakarta-Sans-ExtraBold";
  src: url(../asset/Font/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf);
}
* {
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 1.2em 0;
  border-bottom: solid 1px rgb(190, 190, 190);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#Name {
  list-style-type: none;
  margin-left: 3em;
}

#Name > li > a {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  margin-left: 2em;
  color: black;
  font-size: 1.5em;
  font-family: "Plus-Jakarta-Sans-Bold";
}

/* Animation Hover Navbar */
#ulNav {
  list-style-type: none;
  display: flex;
  gap: 0 2em;
  margin-right: 8em;
}

#ulNav > li > a {
  text-decoration: none;
  position: relative;
  margin: 0;
  font-size: 1em;
  font-family: "Plus-Jakarta-Sans-Semibold";
  color: black;
}

/* Main animation */
#ulNav > li > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: #0099ff;
  transition: 0.3s ease-out;
}

#ulNav > li > a:hover::after {
  left: 0;
  width: 100%;
}

/* Artikels */
#artikels {
  padding: 3em 4em;
}

#judulArtikel {
  font-family: "Plus-Jakarta-Sans-ExtraBold";
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

#wrapperImages > img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

#penulisDanTglRelease {
  font-family: "Plus-Jakarta-Sans-Semibold" !important;
}

#WrapperJudul > p {
  font-family: "Plus-Jakarta-Sans-Regular";
}
#daftarFakta {
  margin: 1em 0;
}

#fakta1 > h2 {
  font-family: "Plus-Jakarta-Sans-ExtraBold";
  margin-bottom: 0.5em;
}

#deskripsiFakta > p,
#deskripsiFakta > p,
#deskripsiFakta > p {
  font-family: "Plus-Jakarta-Sans-Regular";
}

#fakta2 > h2 {
  font-family: "Plus-Jakarta-Sans-ExtraBold";
  margin: 0.5em 0em;
}

#fakta3 > h2 {
  font-family: "Plus-Jakarta-Sans-ExtraBold";
  margin: 0.5em 0em;
}

/* Footer */
#footer {
  padding: 0.5em 3.5em;
  height: fit-content;
  background-color: #0099ff;
}

#wrapperFooter {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2em;
  color: white;
}

#wrapperIcon {
  text-align: center;
  display: flex;
  gap: 0 2em;
}

#wrapperFooter > p {
  font-family: "Plus-Jakarta-Sans-Semibold";
}

#wrapperIcon > a {
  color: white;
}
